<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="M_Adnan" />
    <!-- Document Title -->
    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="~/Content/rs-plugin/css/settings.css" media="screen" />
    <!-- Fonts Online -->
    @*<link href="https://fonts.googleapis.com/css?family=Lato:100i,300,400,700,900" rel="stylesheet">*@

    @Styles.Render("~/css-contents")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/ionicons.min.css" rel="stylesheet" />
</head>
<body>

    <!-- Page Wrapper -->
    <div id="wrap" class="layout-8">
        <!-- Top bar -->
        <div class="top-bar">
            <div class="container">
                <div class="right-sec">
                    @Html.ActionLink("Register", "Register", "Security")
                </div>
                <div class="right-sec">
                    @Html.ActionLink("Login", "Login", "Security")
                </div>
            </div>
        </div>

        <!-- Header -->
        <header>
            <div class="container">
                <div class="logo"> <a href="index.html"><img src="~/Content/images/logo.png" alt=""></a> </div>
                @Html.Partial("_Search")
                <!-- Cart Part -->
                <ul class="nav navbar-right cart-pop">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="itm-cont">3</span> <i class="flaticon-shopping-bag"></i> <strong>My Cart</strong> <br>
                            <span>3 item(s) - $500.00</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="media-left"> <a href="#." class="thumb"> <img src="~/Content/images/item-img-1-1.jpg" class="img-responsive" alt=""> </a> </div>
                                <div class="media-body"> <a href="#." class="tittle">Funda Para Ebook 7" 128GB full HD</a> <span>250 x 1</span> </div>
                            </li>
                            <li>
                                <div class="media-left"> <a href="#." class="thumb"> <img src="~/Content/images/item-img-1-2.jpg" class="img-responsive" alt=""> </a> </div>
                                <div class="media-body"> <a href="#." class="tittle">Funda Para Ebook 7" full HD</a> <span>250 x 1</span> </div>
                            </li>
                            <li class="btn-cart"> <a href="ShoppingCart.html" class="btn-round">View Cart</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- Nav -->
            <nav class="navbar ownmenu">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-open-btn" aria-expanded="false"> <span><i class="fa fa-navicon"></i></span> </button>
                    </div>

                    <!-- NAV -->
                    <div class="collapse navbar-collapse" id="nav-open-btn">
                        <ul class="nav">
                            <li class="active"><a href="index.html">Home </a></li>
                            <li><a href="shop.html"><b>Shop Now</b></a></li>
                            <li><a href="About.html">About us</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </div>

                    <!-- NAV RIGHT -->
                    <div class="nav-right"> <span class="call-mun"><i class="fa fa-phone"></i> <strong>Hotline:</strong> (+100) 123 456 7890</span> </div>
                </div>
            </nav>
        </header>

        @RenderBody()

        <div id="content">

            <!-- Newslatter -->
            <section class="newslatter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Subscribe our Newsletter <span>Get <strong>25% Off</strong> first purchase!</span></h3>
                        </div>
                        <div class="col-md-6">
                            <form>
                                <input type="email" placeholder="Your email address here...">
                                <button type="submit">Subscribe!</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- End Content -->
        <!-- Footer -->
        <footer>
            <div class="container">

                <!-- Footer Upside Links -->
                <div class="foot-link">
                    <ul>
                        <li><a href="#."> About us </a></li>
                        <li><a href="#."> Customer Service </a></li>
                        <li><a href="#."> Privacy Policy </a></li>
                        <li><a href="#."> Site Map </a></li>
                        <li><a href="#."> Search Terms </a></li>
                        <li><a href="#."> Advanced Search </a></li>
                        <li><a href="#."> Orders and Returns </a></li>
                        <li><a href="#."> Contact Us</a></li>
                    </ul>
                </div>
                <div class="row">
                    <!-- Contact -->
                    <div class="col-md-4">
                        <h4>Contact SmartTech!</h4>
                        <p>
                            Address: 45 Grand Central Terminal New York, NY 1017
                            United State USA
                        </p>
                        <p>Phone: (+100) 123 456 7890</p>
                        <p>Email: Support@smarttech.com</p>
                        <div class="social-links"> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-linkedin"></i></a> <a href="#."><i class="fa fa-pinterest"></i></a> <a href="#."><i class="fa fa-instagram"></i></a> <a href="#."><i class="fa fa-google"></i></a> </div>
                    </div>

                    <!-- Categories -->
                    <div class="col-md-3">
                        <h4>Categories</h4>
                        <ul class="links-footer">
                            <li><a href="#.">Home Audio & Theater</a></li>
                            <li><a href="#."> TV & Video</a></li>
                            <li><a href="#."> Camera, Photo & Video</a></li>
                            <li><a href="#."> Cell Phones & Accessories</a></li>
                            <li><a href="#."> Headphones</a></li>
                            <li><a href="#."> Video Games</a></li>
                            <li><a href="#."> Bluetooth & Wireless</a></li>
                        </ul>
                    </div>

                    <!-- Categories -->
                    <div class="col-md-3">
                        <h4>Customer Services</h4>
                        <ul class="links-footer">
                            <li><a href="#.">Shipping & Returns</a></li>
                            <li><a href="#."> Secure Shopping</a></li>
                            <li><a href="#."> International Shipping</a></li>
                            <li><a href="#."> Affiliates</a></li>
                            <li><a href="#."> Contact </a></li>
                        </ul>
                    </div>

                    <!-- Categories -->
                    <div class="col-md-2">
                        <h4>Information</h4>
                        <ul class="links-footer">
                            <li><a href="#.">Our Blog</a></li>
                            <li><a href="#."> About Our Shop</a></li>
                            <li><a href="#."> Secure Shopping</a></li>
                            <li><a href="#."> Delivery infomation</a></li>
                            <li><a href="#."> Store Locations</a></li>
                            <li><a href="#."> FAQs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Rights -->
        <div class="rights">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Copyright © 2017 <a href="#." class="ri-li"> SmartTech </a>HTML5 template. All rights reserved</p>
                    </div>
                    <div class="col-sm-6 text-right"> <img src="~/Content/images/card-icon.png" alt=""> </div>
                </div>
            </div>
        </div>

        <!-- End Footer -->
        <!-- GO TO TOP  -->
        <a href="#" class="cd-top"><i class="fa fa-angle-up"></i></a>
        <!-- GO TO TOP End -->
    </div>
    <!-- End Page Wrapper -->
    <!-- JavaScripts -->
    @Scripts.Render("~/Contents/js")
    <script type="text/javascript">
        /* ==========================================================================
            countdown timer
        ========================================================================== */
        (function ($) {
            "use strict";
            $('.countdown').downCount({
                date: '12/12/2018 12:00:00' // M/D/Y
            });
        })(jQuery);
    </script>
</body>
</html>